body{
    background-color: black;
}
h1{
    color: rgb(114, 18, 240);
    text-align: center;
}
#phrase{
    color: white;
    text-align: center;
}
canvas{
    border: solid;
    border-radius: 10px;
    border-color: rgb(120, 2, 255);
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}
.nouvelle_partie{
  
    background: linear-gradient(rgb(132, 0, 255), rgb(158, 61, 238));
    border-radius: 20px;
    border: none;
    margin-left:13%;
    
}
#score{
    margin-left: 25% ;
    color: white;
    right:0;
    left: 0;
    
}
.bouton_direction{
    right:0;
    left: 0;
    margin-left:auto;
    margin-right: auto;
    width: 70px;
}

.conteneur{
    position: absolute;
    bottom: 50px;
    right:0;
    left: 0;
    margin:auto;
    width: 150px;
}

#perdu{
    position: fixed;
    color: red;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200%;
}
